WebApp/WebApp_Desktop/Service References/PersonReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonEntity" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiceApp_Client" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPerson_GetPersonList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonList" />
  </wsdl:message>
  <wsdl:message name="IPerson_GetPersonList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonListResponse" />
  </wsdl:message>
  <wsdl:message name="IPerson_CheckPersonName_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPersonName" />
  </wsdl:message>
  <wsdl:message name="IPerson_CheckPersonName_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPersonNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IPerson">
    <wsdl:operation name="GetPersonList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerson/GetPersonList" message="tns:IPerson_GetPersonList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerson/GetPersonListResponse" message="tns:IPerson_GetPersonList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPersonName">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerson/CheckPersonName" message="tns:IPerson_CheckPersonName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerson/CheckPersonNameResponse" message="tns:IPerson_CheckPersonName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPerson" type="tns:IPerson">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersonList">
      <soap:operation soapAction="http://tempuri.org/IPerson/GetPersonList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPersonName">
      <soap:operation soapAction="http://tempuri.org/IPerson/CheckPersonName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonEntity">
    <wsdl:port name="BasicHttpBinding_IPerson" binding="tns:BasicHttpBinding_IPerson">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceApp_Client/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>